
body {
	font-size: 14px;
    line-height: 1.5;
    color: #717f86;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
ol, ul {
	list-style: none;
}

h2 {
    font-size: 24px;
    padding-top: 40px;
}

h1, h2, h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}
a{
    color: #5fcf80;
}
a:hover, a:focus{
    color: #5fcf80;
}
/***********************************
Navigation bar
************************************/

.navbar {
    background-color: #ffffff;
    padding: 0px;
}

.pull-center{
    text-align: center;
}


/***********************************
Banner
************************************/
.jumbotron{
    background: url('../img/bq-banner.png') no-repeat center top;
    background-size: cover;
    min-height: 700px;
    position: relative;
}

.header-section{
    padding-bottom: 50px;
}



/***********************************
Price Table
************************************/
.price-table {
    box-shadow: 0px 0px 1px 0px RGBA(0, 0, 0, 0.4);
    background: RGBA(255, 255, 255, 0.9);

}

#pricing {
    background: url('../img/flowers.png') no-repeat center top;
    background-size: cover;
    min-height: 800px;
    position: relative;
    padding: 100px 0px 100px 0px;
}



#caption {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    color: #4B4B4C;
    text-align: center;
    letter-spacing: 3px;
    font-size: 16px;
    padding: 20px;

}

.pricing-head {
    text-align: center;
    padding-bottom: 20px;
}


.curency {
    font-size: 18px;
}

.table {
    text-align: center;
}

/***********************************
Footer
************************************/
.credits{
    font-size: 14px;
}
.footer {
    padding: 10px 0 10px;
    background: #111;
    color: #ccc;
}
.footer a {
    color: #fff;
}

.footer h3{
	font-weight: 300;
	letter-spacing: 0.05em;
	font-size: 20px;
}

.footer .social-links li a {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.footer .social-links li {
    display: inline-block;
    margin: 0 10px 10px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.footer .social-links {
    list-style: none;
    margin: 20px 0 20px;
    padding: 20px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

